.cabeçalho{
    background-color: rgb(0, 217
    , 255);
    color: black;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    
    }
    .body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10;
    padding: 10;
    background-color: rgb(0, 217, 255);
    border-radius: 20px;
    }
    .img{
    max-width: 50%;
    width: 10%;
    border-radius: 5px;
    }
    .sonhos{
        background-color: rgb(10, 255, 235);
        color: black;
        padding: 25px;
        margin: 50px;
        text-align: center;
        font-size: 25px;
        border-radius: 20px;
    }