.cabeçalho{
    background-color: aquamarine;
    color: black;
    text-align: center;
    padding: 15px;
    
    }
    .body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10;
    padding: 10;
    background-color: aqua;
    }
    .img{
    max-width: 25%;
    height: auto;
    border-radius: 20px;
    }
    .sonhos{
        background-color: aquamarine;
        color: black;
        padding: 35px;
        margin: 35px;
        text-align: center;
        font-size: 35px;
    }